node_modules
# Keep environment variables out of version control
.env
.env.local

/src/generated/prisma
.vercel
.vercel-tsc
dist/
api/**/*.js
api/**/*.d.ts
api/**/*.map
src/**/*.js
src/**/*.d.ts
src/**/*.map
*.tsbuildinfo
